*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* parent property */
section{
    height: 100vh;
    /* 1d ✅ not 2d❌ */
    display: flex;
    flex-direction: row;
    /* flex-direction: column; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */

    /* justify content -> main-axis -> flex direction */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: space-evenly; */
    /* justify-content: space-around; */
    justify-content: space-around;

    /* align item -> cross axis -> opp. to flex direction */
    /* align-items: flex-start;
    align-items: flex-end;
    align-items: center; */

    flex-wrap: nowrap; /*no wrap*/
    /* flex-wrap: wrap; */

    /* handle spaces between rows when it is wrap */
    /* align-content: flex-start; */
    /* align-content: center; */


    /* gap: 20px; */
    /* gap: 10px 20px; row-gap column gap */
    /* row-gap: 10px; */
    /* column-gap: 20px; */

}

div{
    /* children property */
    /* display: inline-block; */

    height: 100px;
    width: 100px;
    border: 1px solid black;
    /* margin: 10px; */
}

/* -------------------------------- */

/* child property */
#second{
    /* flex-grow: 5; */
    /* flex-shrink: 5; */
    align-self: flex-end ;
}

#fifth{
    /* flex-grow: 1; */
    /* flex-shrink: 2; */
    align-self: center;
}
