/* //by default browser sets some margion and padding to each element so we nullify the effect */
*{
    padding: 0;
    margin: 0;
    /* box-sizing: content-box; default */
    box-sizing: border-box;
}


div{
    background-color: indianred;
    width: 100px;
    height: 100px;
    border: 5px solid green;
    padding: 5px;
    margin: 10px;
}

span{
    /* 1 of the way but not good a way */
    /* display: block; */
    
    /* another way and a good way */
    /* inline => preserves the nature  , block => makes it use box-model property */
    display: inline-block;

    background-color: purple;
    width: 100px;
    height: 100px;
    border: 5px solid orange;
    padding: 5px;
    margin: 20px;
}


/* content area? =>  */
